<div class="section-summary">
    <label>Total</label>

    <div class="summary">
        <div class="total dice">
            <label class="value">{{totals.dice}}</label>
            <label class="legend">{{localize "UI.Dice"}}</label>
        </div>

        <div class="total successes">
            <label class="value">{{totals.successes}}</label>
            <label class="legend">{{localize "UI.Successes"}}</label>
        </div>

        <div class="total triggers">
            <label class="value">{{totals.triggers}}</label>
            <label class="legend">{{localize "UI.Triggers"}}</label>
        </div>
    </div>
</div>