<div class="section-configuration">


    <div class="section-input">
        <input class="field-input addDice" type="number" name="{{prefix}}.modifiers.d" value="{{modifiers.d}}" />
        <label>+ Dice</label>
    </div>


    <div class="section-input">
        <input class="field-input addDice" type="number" name="{{prefix}}.modifiers.s" value="{{modifiers.s}}" />
        <label>+ Successes</label>
    </div>

    <div class=" section-input">
        <input class="field-input" type="number" name="{{prefix}}.modifiers.t" value="{{modifiers.t}}" />
        <label>+ Triggers</label>
    </div>

</div>