<div class="culture" data-action="showCulture">

    <div class="controls">
        <label class="header">{{localize "DGNS.Culture"}}</label>
        {{#if (sheetEditMode mode) }}
            <!-- todo: add proper styilng -->
            <button type="button" data-action="removeLinkedItem" data-item-type="culture" class="">
                <i class="fas fa-eraser"></i>
            </button>
        {{/if}}
    </div>

    <div class="icon">
        {{#if culture}}
            <img src="{{culture.img}}" />
        {{else}}
            <div class="drop-placeholder">
                <i class="fa-solid fa-file-half-dashed"></i>
            </div>
        {{/if}}
    </div>

    <div class="label">
        <label class="value">
            {{#if culture}}
                {{ culture.name }}
            {{else}}
                {{localize "DGNS.None"}}
            {{/if}}
        </label>
    </div>


</div>