<section class="tab history {{tab.cssClass}}" data-group="main" data-tab="history">
  {{> "dgns.group.header" header="DGNS.History" }}

  {{! Tabs }}
  <nav class="sheet-navigation tabs" data-group="history">
    {{#each historyTabs}}
      <a class="{{this.cssClass}}" data-group="history" data-action="tab" data-tab="{{this.id}}">
        {{localize this.label}}
      </a>
    {{/each}}
  </nav>


  <section class="tab group {{subtabs.group.cssClass}} section-scrollable" data-group="history" data-tab="group">
    {{> "systems/degenesisnext/templates/actors/character.sheet/history.partials/group.hbs" }}
  </section>

  <section class="tab biography {{subtabs.biography.cssClass}} section-scrollable" data-group="history"
    data-tab="biography">
    {{> "systems/degenesisnext/templates/actors/character.sheet/history.partials/biography.hbs" }}
  </section>

  {{#if document.isOwner}}
    <section class="tab notes {{subtabs.notes.cssClass}} section-scrollable" data-group="history" data-tab="notes">
      {{> "systems/degenesisnext/templates/actors/character.sheet/history.partials/notes.hbs" }}
    </section>
  {{/if}}

  {{#if (isGM)}}
    <section class="tab gmnotes {{subtabs.gmnotes.cssClass}} section-scrollable" data-group="history"
      data-tab="gmnotes">
      {{> "systems/degenesisnext/templates/actors/character.sheet/history.partials/gmnotes.hbs" }}
    </section>
  {{/if}}



</section>