<div class="details-container">
    <div class="field-row">
        <input class="field-input" type="text" name="system.details.age" value="{{system.details.age}}" />
        <label>{{localize "DGNS.Age"}}</label>
    </div>
    <div class="field-row">
        <input class="field-input" type="text" name="system.details.sex" value="{{system.details.sex}}" />
        <label>{{localize "DGNS.Sex"}}</label>
    </div>
    <div class="field-row">
        <input class="field-input" type="text" name="system.details.height" value="{{system.details.height}}" />
        <label>{{localize "DGNS.Height"}}</label>
    </div>
    <div class="field-row">
        <input class="field-input" type="text" name="system.details.weight" value="{{system.details.weight}}" />
        <label>{{localize "DGNS.Weight"}}</label>
    </div>
</div>