<section class="sheet-section tab general {{tab.cssClass}}" data-group="main" data-tab="general">
  <div class="ccc-container">

    {{> "dgns.actor.culture" }}
    {{> "dgns.actor.concept" }}
    {{> "dgns.actor.cult" }}


    <hr>
    <div class="document-table potential-group">
      <div class="header">
        <div class="name">{{localize "DGNS.Potentials"}}</div>
        <div class="transition">
          <svg class="line">
            <line x1="0" y1="50%" x2="75%" y2="50%"></line>
            <line x1="75%" y1="50%" x2="100%" y2="100%"></line>
          </svg>
        </div>

        <div class="legends">
          <div class="field oriigin ">{{localize "DGNS.Origin"}}</div>
          <div class="field level ">LVL</div>
          <div class="field controls" style="min-width:50px">

            <!-- todo: proper sorting -->

            <a data-action="toggleSort" data-group="{{group.id}}">
              <i class="fa-solid {{group.sortIcon}}"></i>
            </a>
            <a data-action="createItem" data-item-type="potential">
              <i class="fa-solid fa-plus"></i></a>
          </div>
        </div>
      </div>

      <div class="entries">
        {{#each potentials  as |item|}}
          <div class="entry item" data-drag data-item-id="{{item.id}}" data-action="openItemContextMenu">
            <div class="field image">
              <img src="{{item.img}}">
            </div>
            <div class="field name">
              <a class="caption" data-action="editItem">{{item.name}}</a>
              <div class="subcaption">{{item.system.group}}</div>
            </div>

            <div class="field origin">
              {{item.system.origin}}
            </div>


            <div class="field level">
              {{item.system.level}}
            </div>
            <div class="field controls">


              <a data-action="toggleDescription"><i class="fa-solid fa-square-caret-down"></i></a>
              <a data-action="openItemMenu"> <i class="fa-solid fa-ellipsis-vertical"></i></a>

            </div>

          </div>
        {{/each}}
      </div>
    </div>


    <!-- BACKGROUNDS -->



    <div class="backgrounds-container">
      <div class="header">
        {{> "dgns.group.header" header="DGNS.Backgrounds" }}
      </div>

      <div class="backgrounds">

        {{#each system.backgrounds}}
          <div class="field-under">
            <input class="field-input" type="number" name="system.backgrounds.{{@key}}" value="{{@this}}" />
            <label>{{localize @key}}</label>
          </div>
        {{/each}}
      </div>

    </div>






</section>