<div class="action-roll-card">

    <h2>{{title}}</h2>
    <h3>{{attribute}} + {{skill}} ({{difficulty}})</h3>
    <div class="roll-result">
        <div>{{successes}}{{localize "UI.S"}}</div>
        <div>{{triggers}}{{localize "UI.T"}}</div>
    </div>
    {{#if result}}
        <h2 class="{{result}}">{{resultLabel}}</h2>
    {{/if}}

    <div class="dice">
        {{#each dice as |die d|}}
            <span class="die {{die.class}}">{{die.result}}</span>
        {{/each}}
    </div>
</div>