<div class="xp-container">
    <div class="field-row">
        <input class="field-input" type="text" name="system.details.experience.current"
            value="{{system.details.experience.current}}" />
        <label>{{localize "DGNS.ExperienceCurrent"}}</label>
    </div>
    <div class="field-row">
        <input class="field-input" type="text" name="system.details.experience.spent"
            value="{{system.details.experience.spent}}" />
        <label>{{localize "DGNS.ExperienceSpent"}}</label>
    </div>

    <div class="field-row">
        <input class="field-input" type="text" name="system.details.experience.total"
            value="{{system.details.experience.total}}" />
        <label>{{localize "DGNS.ExperienceTotal"}}</label>
    </div>

</div>